@charset "ISO-8859-1";
body
{
	background-color:green;
}

form
{
    text-align:center;
	width:400px;
	height:400px;

	background-color:white;
}
input[type=text]
{
	background-color:whitesmoke;
   border:none;
	width:240px;
	height:40px;
}
input[type=password]
{
	background-color:whitesmoke;
   border:none;
	width:240px;
	height:40px;
}
input[type=submit]
{
	border:none;
	background-color:green;
	color:white;
	width:240px;
	height:50px
}
a
{
color:green;
text-decoration:none;

}